#canvas {
	margin: 10px;
	position: relative;
	margin: auto;
}

#canvas_div {
	width: 90%;
	height: 100%;
	position: relative;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	border-style: ridge;
	border-color: #000000;
	overflow: hidden;
	display: none;
}

#option-bar {
	text-align: right;
}

#option-bar-right {
	float: right;
}

#option-bar-left {
	float: left;
}

#option-bar-mid {
	width: 300px;
	margin: auto;
}

#timeline-name {
	width: 100%;
	text-align: center;
	border: none;
	font-size: 30px;
}

@keyframes popup-animation {
	0% {
		transform: translateY(150%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes popdown-animation {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(150%);
	}
}

#save-modal {
	background-color: rgb(77, 78, 85);
	padding: 10px;
	border-color: black;
	border-style: groove;
	border-width: 1px;
	position: absolute;
	width: 200px;
}

#save-modal > p {
	color: white;
}

#ref-link {
	background-color: rgb(77, 78, 85);
	color: white;
	border: none;
}

#close-save-modal {
	float: right;
}

#btn-copy-id {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.popup-div {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: inline-block;
	left: 0; right: 0;
	margin: 0 auto 0 auto;
	bottom: 0;
	z-index: 2;

	animation-name: popup-animation;
	animation-duration: 0.6s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-fill-mode: forwards;
}

#helper-div {
	border-style: outset;
	border-width: 2px;
	border-color: black;
	background-color: #2571c7;
	position: absolute;
	max-width: 420px;
}

#helper-div > header {
	text-align: center;
	font-size: 22px;
	color: #ffffff;
}

.input-div {
	display: inline-block;
	position: absolute;
	margin: auto;
	width: 150px;
}

#input-header {
	border-style: groove;
	border-width: 1px;
	width: inherit;
	cursor: move;
	display: inline-block;
	background-color: #dadada;
}

#input-mid {
	border-style: groove;
	border-width: 1px;
	width: inherit;
	display: inline-block;
}

#input-footer {
	background-color: white;
	margin-top: -5px;
	position: relative;
	border-style: groove;
	border-width: 1px;
	width: inherit;
	text-align: center;
}

#input-footer > button {
	margin: auto;
}

#input-err-label {
	color: red;
}

#text-area {
	display: block;
	width: 100%;
}

#startup-div {
	text-align: center;
	margin: auto;
	width: 500px;
	height: 600px;
	display: block;
}

#startup-header-label {
	font-size: 18px;
}

#startup-input-div > label {
	width: 100%;
}

#startup-div > p {
	font-size: 18px;
}

#load-timeline-button {
	margin-bottom: 3px;
	margin-left: 5px;
}

#input-id {
	display: inline-block;
	width: 210px;
	margin-right: 0px;
}

.modal {
	display: none;
	position: absolute;
	margin: auto;
	width: 250px;
	height: 200px;
	z-index: 2;
}
.modal-content {
	width: 80%;
	float: right;
	border: ridge;
}
.modal-buttons {
	float: right;
}