#canvas {
	margin: 10px;
	position: relative;
	margin: auto;
}

#canvas_div {
	width: 90%;
	height: 100%;
	position: relative;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	border-style: ridge;
	border-color: #000000;
	overflow: hidden;
	display: none;
}

#option-bar {
	text-align: right;
}

#option-bar-right {
	float: right;
}

#option-bar-left {
	float: left;
}

#option-bar-mid {
	width: 300px;
	margin: auto;
}

#timeline-name {
	width: 100%;
	text-align: center;
	border: none;
	font-size: 30px;
}

@keyframes fade-in-animation {
	0% {
		transform: translateY(-50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes popup-animation {
	0% {
		transform: translateY(150%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes popdown-animation {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(150%);
	}
}

@keyframes zoom-out {
	99% {
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

#settings-div {
	position: absolute;
	display: none;
	color: white;
	background-color: rgb(77, 78, 85);
	border-color: black;
	border-style: groove;
	padding: 10px;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	height: 235px;
	width: 275px;
	animation-duration: 0.4s;
	z-index: 2;
}

#settings-div > div {
	text-align: center;
	margin-top: 20px;
}

#settings-div > div > button {
	margin-bottom: 5px;
	width: 100%;
}

#settings-header {
	font-size: 20px;
	margin-right: 0px;
	width: 50%;
}

#close-settings-btn {
	float: right;
}

#save-modal {
	background-color: rgb(77, 78, 85);
	padding: 10px;
	border-color: black;
	border-style: groove;
	border-width: 1px;
	position: absolute;
	width: 200px;
}

#save-modal > p {
	color: white;
}

#ref-link {
	background-color: rgb(77, 78, 85);
	color: white;
	resize: none;
	border: none;
}

#close-save-modal {
	float: right;
}

#btn-copy-id {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.popup-div {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: inline-block;
	left: 0; right: 0;
	margin: 0 auto 0 auto;
	bottom: 0;
	z-index: 2;

	animation-name: popup-animation;
	animation-duration: 0.6s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-fill-mode: forwards;
}

#helper-div {
	border-style: outset;
	border-width: 2px;
	border-color: black;
	background-color: #2571c7;
	position: absolute;
	max-width: 420px;
}

#helper-div > p {
	text-align: center;
	font-size: 22px;
	color: #ffffff;
}

#event-error {
	color: red;
	position: absolute;
	display: block;
	text-align: center;
	top: 0; bottom: 0; left: 0; right: 0;
	font-size: 18px;
}

#event-error > button {
	float: right;
}

.input-div {
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	position: absolute;
	margin: auto;
	width: 150px;
}

#input-header {
	border-style: groove;
	border-width: 1px;
	font-size: 16px;
	width: 100%;
	cursor: move;
	display: inline-block;
	background-color: #dadada;
}

#input-mid {
	border-style: groove;
	border-width: 1px;
	display: inline-block;
}

#input-footer {
	background-color: white;
	margin-top: -5px;
	position: relative;
	border-style: groove;
	border-width: 1px;
	text-align: center;
}

#input-footer > button {
	margin: auto;
}

.input-error-label {
	color: red;
	width: 100%;
}

#text-area {
	display: block;
	width: 100%;
	resize: none;
}

#modal-load-div {
	color: white;
	background-color: rgb(77, 78, 85);
	border-color: black;
	border-style: groove;
	padding: 10px;
	top: 0; bottom: 0; left: 0; right: 0;
	display: none;
	position: absolute;
	height: 120px;
	z-index: 3;
}

#startup-div, #modal-load-div {
	text-align: center;
	margin: auto;
	width: 400px;
}

#startup-div {
	display: block;
	height: 200px;
}

#modal-load-header-label {
	width: 75%;
	margin-bottom: 25px;
}

#startup-header-label, #modal-load-header-label {
	font-size: 18px;
}

#startup-header-label {
	width: 100%;
}

#startup-div > p {
	font-size: 18px;
}

#load-timeline-button {
	margin-bottom: 3px;
	margin-left: 5px;
}

#input-id, #modal-input-id {
	display: inline-block;
	width: 270px;
	margin-right: 0px;
}

.modal {
	display: none;
	position: absolute;
	margin: auto;
	width: 250px;
	height: 200px;
	z-index: 2;
}
.modal-content {
	width: 80%;
	float: right;
	border: ridge;
}
.modal-buttons {
	float: right;
}

.icon-img {
	width: 25px;
	height: 25px;
}